/* Custom CSS to make images display inline */
p img, li img {
  display: inline;
  vertical-align: top;
  margin: 0;
}

li img {
  height: 24px;
}

/* 强制表格不换行 */
.vp-doc table {
  white-space: nowrap;
}

/* 允许有 <br> 的单元格换行 */
.vp-doc table td br {
  white-space: normal;
  display: block;
  content: " ";
}